header {
    section {
        img {
            display: inline;
            margin-bottom: 0;
        }
        h1 {
            display: inline;
            font-size: 70px;
            display: inline-block;
        }
    }
    
    nav {
        a {
            display: inline;
            padding: 8px;
            margin-bottom: 0;
            margin-top: 0;
            width: 100px;
            background-color: #4db9c7;
            margin-right: -4px;
            text-decoration: none;
            color:black;
            font-size:x-large;
            transition: background-color 0.3s, color 0.3s;
        }
        a:hover {
            background-color: black;
            color:#4db9c7;
        }
    }
    margin-bottom: 40px;
}
