body {
        margin: 0;
}

.flex-container {
        display: flex;
        background-color: #4db9c7;
      }



/* header > section img{
        margin: 0;
        display: inline;
}

header > section h1 {
        font-size: 70px;
        margin: 0;
        width:max-content;
        height: 50px;
        display: inline;
} */

#numecompanie {
        display: flex; 
        align-items: center; 
        background-color: #20608B;
    }
    
    #numecompanie img {
        margin-right: 10px;
    }
    
    #numecompanie h1 {
        margin: 0; 
        font-size: 70px; 
        color: white;
    }





nav a {
        display: inline;
        padding: 18px;
        margin: 0;
        width: fit-content;
        background-color: #4db9c7;
        text-decoration: none;
        color:black;
        font-size:x-large;
        transition: background-color 0.1s, color 0.1s;
}
a:hover {
        background-color: black;
        color:#4db9c7;
}

.sidebar {
        width: 250px; 
        background-color: #f4f4f4; 
        padding: 20px; 
        float: right;
        height: 100%; 
}

/* Sidebar */
.sidebar {
        background-color: #20608B;
        color: white;
        padding: 20px;
    }
    
    /* Sidebar heading */
    .sidebar h2 {
        color: white;
        text-align: center;
    }
        /* Sidebar links + hovering */
    /* .sidebar a {
        color: white;
    }
    .sidebar a:hover {
        color: #4db9c7;
    } */

#continut {
        /* margin-right: 270px; */
        /* padding: 20px; */
        overflow: hidden;
}

#continut::after {
    content: '';
    display: block; 
    height: 60px;
}



/*Main-ul*/
    
    h2 {
        color: #20608B;
        border-bottom: 2px solid #4db9c7;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    section {
        color: black;
        line-height: 1.5;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    /* Article headings */
    article strong {
        color: #4db9c7;
        font-size: 20px;
    }
    /* Article content */
    article span {
        color: black;
    }
    
    /* Links */
    a {
        color: #20608B;
    }
    a:hover {
        color: #4db9c7; 
    }
    

/*  */
.tabel-tehnologii td{
    border-style: double;
}

.tabel-tehnologii {
    border-style: double;
}


/* Footer styles */
footer {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #20608B;
    position: fixed;
    bottom: 0;
}

/* Horizontal line */
/* hr {
    border: none;
    border-top: 1px solid #20608B;
} */

/* Navigation links */
footer > nav a {
    color: black;
    padding: 0;
    text-decoration: none;
    margin: 0 10px;
}

/* Hover effect for navigation links */
nav a:hover {
    color: #4db9c7;
}

/* Social icons */
.social-icons img {
    width: 30px; 
    margin: 0;
}



/* Tabel despre */
.tabel-tehnologii {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.header {
    font-weight: bold;
}

.cell {
    flex: 1;
    padding: 8px;
    border: 1px solid #000;
}
