body {
        margin: 0;
}

.flex-container {
        display: flex;
        background-color: #4db9c7;
      }



/* header > section img{
        margin: 0;
        display: inline;
}

header > section h1 {
        font-size: 70px;
        margin: 0;
        width:max-content;
        height: 50px;
        display: inline;
} */

#numecompanie {
        display: flex; 
        align-items: center; 
        background-color: #20608B;
    }
    
    #numecompanie img {
        margin-right: 10px;
    }
    
    #numecompanie h1 {
        margin: 0; 
        font-size: 70px; 
        color: white;
    }

/* ------------------------------------------------------- */

nav a {
        display: inline;
        padding: 18px;
        margin: 0;
        width: fit-content;
        background-color: #4db9c7;
        text-decoration: none;
        color:black;
        font-size:x-large;
        transition: background-color 0.1s, color 0.1s;
}
a:hover {
        background-color: black;
        color:#4db9c7;
}

.sidebar {
        width: 250px; 
        background-color: #f4f4f4; 
        padding: 20px; 
        float: right;
        height: 100%; 
}

/* Sidebar */
.sidebar {
        background-color: #20608B;
        color: white;
        padding: 20px;
    }
    
    /* Sidebar heading */
    .sidebar h2 {
        color: white;
        text-align: center;
    }
        /* Sidebar links + hovering */
    /* .sidebar a {
        color: white;
    }
    .sidebar a:hover {
        color: #4db9c7;
    } */

#continut {
        /* margin-right: 270px; */
        /* padding: 20px; */
        overflow: hidden;
}

#continut::after {
    content: '';
    display: block; 
    height: 60px;
}

/* ------------------------------------------------------- */

/*Main-ul*/
    h2 {
        color: #20608B;
        border-bottom: 2px solid #4db9c7;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    section {
        color: black;
        line-height: 1.5;
        background-color: #f2f2f2;
        padding: 20px;
    }
    
    /* Article headings */
    article strong {
        color: #4db9c7;
        font-size: 20px;
    }
    /* Article content */
    article span {
        color: black;
    }
    
    /* Links */
    a {
        color: #20608B;
        cursor: pointer;
    }
    a:hover {
        color: #4db9c7; 
    }
    

/*  */
.tabel-tehnologii td{
    border-style: double;
}

.tabel-tehnologii {
    border-style: double;
}

/* ------------------------------------------------------- */

/* Footer styles */
footer {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #20608B;
    position: fixed;
    bottom: 0;
}

/* Horizontal line */
/* hr {
    border: none;
    border-top: 1px solid #20608B;
} */

/* Navigation links */
footer > nav a {
    color: black;
    padding: 0;
    /* text-decoration: none; */
    margin: 0 10px;
}

/* Hover effect for navigation links */
nav a:hover {
    color: #4db9c7;
}

/* Social icons */
.social-icons img {
    width: 30px; 
    margin: 0;
}

/* ------------------------------------------------------- */

/* Tabel despre */
.tabel-tehnologii {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.header {
    font-weight: bold;
}

.cell {
    flex: 1;
    padding: 8px;
    border: 1px solid #000;
}

/* ------------------------------------------------------- */

/* Form container styles */
form.regForm {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Sections styles */
form.regForm section {
    flex: 1;
    padding: 20px;
}

/* Form title styles */
h3.regForm  {
    color: #4db9c7;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Input styles */
form.regForm
input[type="text"],
form.regForm
input[type="password"],
form.regForm
input[type="email"],
form.regForm
input[type="tel"],
form.regForm
input[type="url"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4db9c7;
    color: white;
    font-size: 16px;
    outline: none;
}

input[type="color"] {
    width: 50px;
    padding: 0;
}

form.regForm
input[type="range"] {
    width: 100%;
    margin-bottom: 30px;
}

/* Button styles */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4db9c7;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:disabled {
    background-color: #20608B;
    cursor: not-allowed;
}

/* Button hover effect */
button:hover {
    background-color: #20608B;
}

/* Placeholder styles */
::placeholder {
    color: white;
    opacity: 0.7;
}

/* Hover effect for inputs */
input:hover,
select:hover,
textarea:hover {
    background-color: #20608B;
}

/* Focus effect for inputs */
input:focus,
select:focus,
textarea:focus {
    background-color: #20608B;
}

/* Checkbox and radio button styles */
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}

/* Label styles for checkbox and radio button */
label {
    color: white;
}

/* Datetime input styles */
form.regForm
input[type="date"],
form.regForm
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4db9c7;
    color: white;
    font-size: 16px;
    outline: none;
}


/* -------------------------------------------------------------------------------------------- */

/* rolling svg */
@keyframes roll {
    0% {
        transform: translateX(-150px) rotate(-120deg);
    }
    100% {
        transform: translateX(calc(100vw + 150px)) rotate(360deg);
    }
}

#rolling-svg {
    position: fixed;
    top: 50%;
    left: -150px;
    animation: roll 10s linear infinite;
}

/* -------------------------------------------------------------------------------------------- */

/* Media query for screens narrower than 600px */
/* @media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

/* Media query for screens wider than 1200px */
/* @media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
} */

/* Media query for screens between 600px and 1200px */
@media  (max-width: 600px) and (max-height: 1200px) {
    body {
        font-size: 45px;
    }
} 

@media (max-width: 600px) {
    footer {
        height: 30px;
        padding: 10px;
    }
}

.dropdown-menu {
    display: none;
    position: relative;
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    background-color: #4db9c7;
    color: white;
    text-decoration: none;
}


@media (max-width: 1000px) {
    header, footer {
        font-size: 50px;
        padding: 5px;
    }
    aside {
        display: none;
    }
    footer nav {
        display: none;
    }
    #numecompanie {
        padding: 10px;
    }

    #numecompanie img {
        height: 150px; /* Adjust the height as needed for mobile */
    }

    #numecompanie h1 {
        font-size: 100px; /* Adjust the font size for mobile */
    }

    
    .flex-container a {
        display: block;
        font-size: 40px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10;
        margin-right: 10;
    }

    /* Display the dropdown menu on mobile */
    /* .dropdown-menu {
        display: block;
    } */
}


/* -------------------------------------------------------------------------------------------- */

/* VIdeo gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery iframe {
    margin: 10px;
    border: 1px solid #ccc;
}

.gallery iframe:nth-child(1) {
    width: 450px;
    height: 250px;
}

.gallery iframe:nth-child(2) {
    width: 350px;
    height: 250px;
}

.gallery iframe:nth-child(3) {
    width: 250px;
    height: 200px;
}

.gallery iframe:nth-child(4) {
    width: 350px;
    height: 200px;
}

.gallery iframe:nth-child(5) {
    width: 450px;
    height: 300px;
}


/* -------------------------------------------------------------------------------------------- */

